-----BEGIN CERTIFICATE-----
MIIDPTCCAiWgAwIBAgIUFxBRkwr6tO0Zy1QYMhqAWmRbEo4wDQYJKoZIhvcNAQEL
BQAwHjEcMBoGA1UEAwwTc2VydmVyMS5mbGVldC5sb2NhbDAeFw0yNTA2MjAxMDA3
MjJaFw0yNjA2MjAxMDA3MjJaMB4xHDAaBgNVBAMME3NlcnZlcjEuZmxlZXQubG9j
YWwwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCdWQ+8UlXhzqbBPL0k
L2ZNcKjrzQFEYW6dd8lJvgbHshxbtRT2vYBR0lWEqdWyzEqYGXYfZ/6jd2fX+pnz
BQGOlyTlGY3GJvhYzdwVYocQgkas6qgQTf0amkX9LHeISwqduwnYvGWPeepxqrfK
I37vKTLgY+wCtI6auLC+EbuHxYy0TS7fRdJea6h8xFzELmVl9b1eY+aFzCAcQlwZ
Bijfk/szA374beiZ2TY5XglqfNqSKWKbLT0tv6QO/0qZqJ2EGI7+jgF187nMKH7p
PuL6sNrhkKjAo/qX7vMvWs0so3zxwzkpvmXM2qIA5NgZSUSqQzymOuJH2VqsIYhD
lk5nAgMBAAGjczBxMB0GA1UdDgQWBBSA8df7C00DJWG562tfe96fP5R1TjAfBgNV
HSMEGDAWgBSA8df7C00DJWG562tfe96fP5R1TjAPBgNVHRMBAf8EBTADAQH/MB4G
A1UdEQQXMBWCE3NlcnZlcjEuZmxlZXQubG9jYWwwDQYJKoZIhvcNAQELBQADggEB
AD90yWEfEgcMSbB8Q7drupU3PRAJ6OBPKl8mpEbIVzji3KrWB8Rp3ebW9lDLRKb+
s4AUqMId2KnnxWTpLfZZuMD0+MLSd5mX1nH/tpIAMCa/hyFGWpJvBQylX06Eki4+
jIqDTRqp0df4kX+LCJDGPSsuFDCg9uZ0l/AGiUUqpbXiM+keBF2jSgior6a1cnqf
KugIIKo8vA6xz/elN45T7+tJ2TvPNonIfOeQyYvxYdVFQPVy/phzdJyWSsStHGPY
97+itND6OlYMosAVwv7N3ZtwMpqhZFdOeU5Ma8UEDV+RZVcRUJuSpHDUCUh94zLz
Qfr9i4SRpg9a3CZknJeLn7U=
-----END CERTIFICATE-----
